.carousel-inner .carousel-item {
  height: 100vh;
}

.carousel-item .carousel-caption {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: auto;
  bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-item .carousel-caption h4 {
  font-weight: lighter;
}

.carousel-item .carousel-caption h3 {
  font-size: 100px;
}

.carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .list-group {
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.baners h5 {
  font-size: 50px;
  color: #ffffff;
}

.information {
  padding-bottom: 40px;
}

.information i {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 30px;
}

.before-footer {
  background-color: #eff2f5;
}

.before-footer .card {
  border: none;
  background-color: #eff2f5;
}

.before-footer .card a {
  padding: 0;
}
/*# sourceMappingURL=style.css.map */