
.carousel-inner .carousel-item {
    height: 100vh;
}

.carousel-item {

    .carousel-caption {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        right: auto;
        bottom: auto;
        padding-top: 0;
        padding-bottom: 0;

        h4 {
            font-weight: lighter;
        }

        h3 {
            font-size: 100px;
        }
    }

    img {
        height: 100%;
        object-fit: cover;
    } 
}

.products {

     .list-group {
         cursor: pointer;
     }
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.baners h5 {
    font-size: 50px;
    color: #ffffff;
}

.information {
    padding-bottom: 40px;

    i {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 30px;
    }
}

.before-footer {
    background-color: #eff2f5;

    .card {
        border: none;
        background-color: #eff2f5;

        a {
            padding: 0;
        }
    }
}